body { 
    background-color: rgb(220, 222, 183);
    font-family: 'Miracode';
    text-align: center;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

h1{
    color:rgb(89, 169, 106);
}
